.chat-page {
  height: 90%;
  width: 95%;
  max-width: 95%;

  background: var(--container);

  flex-direction: row;
  justify-content: normal;
}

.chat-page .chat-tab__container {
  position: relative;
  max-width: 20rem;
  width: 30%;
  height: 100%;
}

.input-icon {
  position: absolute;
  bottom: 0.4rem;
  right: 1rem;
}

.popup-content {
  margin: 0;
  width: 100%;
  padding: 0;
  border: 0;
  background: transparent;
}

.popup-arrow {
  display: none;
}

.menu-container {
  bottom: -11.5rem;

  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.menu-container,
.search-result__container,
.chat-settings {
  z-index: 600;
  border-radius: 0.25rem;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0.5rem 1rem;

  backdrop-filter: blur(8px);

  background-color: var(--model-container);
  backdrop-filter: blur(5px);
  color: var(--white);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .chat-page {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .chat-page .chat-tab__container {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .chat-page {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .chat-page .chat-tab__container {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-page {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .chat-page .chat-tab__container {
    display: none;
  }
}
