.image-container{
    flex-shrink: 0;
    position: relative;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--white);
}

.image-container img{
    object-fit: contain;
    height: 100%;
}