.change-category{
    width: fit-content;
    padding: 0.25rem 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.35rem;

    border-radius: 2rem ;
    color: var(--text);

    border: 2px solid var(--border);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}
.change-category span{
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.selected{
    border-radius: 1rem;
    background: var(--primary);
    color: var(--white);

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}