.chat-box__bottom {
  width: 100%;
  column-gap: 0.5rem;
  position: relative;
  padding: 0.25rem 0.5rem;
  justify-content: space-between !important;
}

.chat-box__bottom .chat-box__bottom__left {
  flex-direction: row;
  column-gap: 0.25rem;
  border-radius: 2rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--background);
}

.chat-box__bottom__left .smile__icon {
  font-size: 2rem;
}

.chat-box__bottom__left .files__icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.chat-box__bottom__middle {
  width: 100%;
  height: 90%;
  border-radius: 2rem;
  padding: 0.1rem 1rem;
  justify-content: flex-start !important;
}

::placeholder {
  color: var(--text-extra-light);
}

.icon__container button {
  border: none;
  background: none;
}

.chat-box__bottom__right {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  background-color: var(--primary);
}

.send-msg__button {
  font-size: 2rem;
}

.send-msg__button svg ,
.send-msg__button svg,
.send-msg__button svg {
    color: var(--text);
}

@media screen and (max-width: 800px) {
  .chat-box__bottom__left .smile__icon {
    font-size: 1.5rem;
  }

  .chat-box__bottom__left .files__icon {
    font-size: 1.5rem;
  }

  .chat-box__bottom__right {
    width: 2.5rem;
    height: 2.5rem;
  }

  .send-msg__button {
    font-size: 1.75rem;
  }
}
