.chat-box-bottom{
    width: 100%;
    padding: 0.25rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
    position: relative;
}

.chat-box-bottom .chat-box-bottom-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    column-gap: 0.25rem;

    background-color: var(--background);

    padding: 0.5rem 0.75rem;
    border-radius: 2rem;
}

form .files-icon{
    font-size: 2rem;
    color: var(--text);
    margin-right: 0.5rem;

    cursor: pointer;
}

.chat-box-bottom input{
    border: 0;
    outline: none;
    background: transparent;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    width: 80%;
}

::placeholder {
    color: var(--text);
}

.icon-container button{
    background: none;
    border: none;
}

.send-msg-button{
    font-size: 2rem;
    color: white;
}

.chat-box-bottom-right {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border-radius: 50%;

    border: 1px solid var(--white);
}

.chat-box-bottom-left .smile-icon {
    font-size: 2rem;
}

.chat-box-bottom-middle{
    width: 100%;
    height: 90%;
    padding: 0.1rem 1rem;
    border-radius: 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}


@media screen and (max-width: 800px) {
    .chat-box-bottom-left .smile-icon {
        font-size: 1.5rem;
    }

    form .files-icon{
        font-size: 1.5rem;
    }

    .send-msg-button{
        font-size: 1.75rem;
    }

    .chat-box-bottom-right {
        width: 2.5rem;
        height: 2.5rem;
    }

}
