.model{
  width: 90%;
  z-index: 400;
  max-width: 30rem;
}

.model-chat-tab {
  width: 80%;
  max-width: 30rem;
  height: 100%;
  background: var(--container);

  position: absolute;
  top: 0; 

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .model-chat-tab {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .model-chat-tab {
    display: none;
  }
}