.overlay-page{
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-page .overlay-container{
    position: fixed;
    z-index: 600;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.overlay-page .close-btn{
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    z-index: 600;
}

