.overlay-page{
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
}

.overlay-page .overlay-container{
    height: 100%;
    z-index: 300;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.overlay-page .close-btn{
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    z-index: 400;
}

