.not-found-page {
  column-gap: 5rem !important;
}

.not-found-page > .not-found-page__content {
  flex-direction: column !important;
  align-items: flex-start !important;
  row-gap: 1rem;
  width: 90%;
}

.not-found-page > .not-fount-page__image {
  max-width: 25rem;
  width: 90%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .not-found-page {
    column-gap: 0 !important;
  }

  .not-found-page {
    flex-direction: column;
  }
  .not-found-page > .not-found-page__content {
    align-items: center !important;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .not-found-page {
    column-gap: 0 !important;
  }

  .not-found-page {
    flex-direction: column;
  }

  .not-found-page > .not-found-page__content {
    align-items: center !important;
    text-align: center;   
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .not-found-page {
    column-gap: 0 !important;
  }

  .not-found-page {
    flex-direction: column;
  }

  .not-found-page > .not-found-page__content {
    align-items: center !important;
    text-align: center;
  }
}
