.authentication-intro-feature{
    width: 70%;
    flex-direction: row;
    column-gap: 0.75rem;
    color: var(--text);
    padding: 0.1rem 0.25rem;
}

.authentication-intro-feature-icon{
    width: 4rem;
}

.authentication-intro-feature-text{
    font-size: 0.85rem;
    font-weight: 600;
}

.authentication-intro-feature:nth-child(2) {
    background-color: var(--white);
    align-self: flex-end;

    border: none;
}

.authentication-intro-feature:nth-child(2) > .authentication-intro-feature-text{
    color: var(--primary);
}