.not_selected_chat_container {
  width: 70%;
  height: 100%;
  max-width: 100%;
  padding: 1.25rem 1rem;
}

.not_selected_chat_container .not_selected_chat_context {
  height: 70%;
  flex-direction: column;
  margin-top: 3rem;
}

.not_selected_chat_container .not_selected_chat__img_container {
  width: 80%;
  max-width: 30rem;
  overflow: hidden;
}

.not_selected_chat__img_container img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .not_selected_chat_container {
    width: 100%;
  }
}


