.search-bar-container {
  position: relative;
  flex-direction: row;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--border);
}

.search-bar-container:hover,
.search-bar-container:active {
  border: 1px solid var(--text);
}

.search-bar-container input {
  width: 100%;
  height: 2rem;

  border: none;
  outline: none;
  box-shadow: none;
  font-weight: 500;
  background: transparent;
  color: var(--text-light);
}

.search-bar-container:hover input,
.search-bar-container:active input {
  color: var(--text);
}

.search-bar-container input::placeholder {
  color: var(--text-extra-light);
}

.search-bar-container svg {
  color: var(--text-light);
}

.search-bar-container:hover svg,
.search-bar-container:active svg {
  color: var(--text);
}

.search-bar-container button {
  border: none;
  background: none;
}
