.logo-container{
    justify-content: flex-start;
}
.logo-img{
    width: 5rem;
}

.logo-name{
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--white);

    font-family: 'Borel', cursive;
    text-underline: var(--primary);

    flex-direction: row;
    row-gap: 0.5rem;

    position: relative;
    bottom: -0.5rem;
}


@media screen and (max-width: 800px) {
    .logo-img{
        width: 3rem;
    }


    .logo-name{
        font-size: 1rem;
    }



}