.video-chat-container{   
    background-color: var(--background); 
    padding: 1.5rem 2.5rem;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.video-chat-container video{
    width: 100%;
    border: none;
}

.call-user {
    flex-direction: column!important;
} 