.open-ai {
  padding: 0.15rem;
  border-radius: 50%;
  font-size: 1.35rem;
  border: 2px solid var(--text-extra-light);
  cursor: pointer;
  margin-right: 0.5rem;
}

.open-ai:hover,
.open-ai:active,
.open-ai:focus {
  border-color: var(--text);
}

.open-ai:hover svg,
.open-ai:active svg,
.open-ai:focus svg {
  color: var(--text);
}

.open-ai-selected {
  border-color: var(--text);
  background-color: #10a37f;
}

.open-ai-selected svg {
  color: var(--text);
}

@media screen and (max-width: 800px) {
  .open-ai {
    font-size: 1rem;
  }
}
