.drag-and-drop-box{
    width: 100%;
    height: 20rem;

    position: relative;
    background-color: var(--background);
    z-index: 500;

    border-radius: 0.25rem;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75rem;
}

.drag-and-drop-box-upload{
    padding: 0.75rem 1rem;
    background-color: var(--container);
    width: 100%;
    height: 80%;
    
    display: flex;
    align-items: center;

    row-gap: 1rem;

    flex-direction: column;
    border-radius: 0.5rem;

    overflow: auto;
}


.drag-and-drop-box-condition{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.drag-and-drop-box .close-btn{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
}
