.setting{
    width: fit-content!important;
    left: auto!important;
    right: 0.75rem;
    bottom: -3.5rem;

    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.1rem;

    column-gap: 0.5rem;
    padding: 0 5rem;
}

.setting .setting-option{
    justify-content: flex-start;
    column-gap: 0.5rem;
    margin-bottom: 0.15rem;
}