.video-message{
    max-width: 25rem;
    width: 100%;
}

video {
    border: 3px solid var(--white);
}



@media screen and (max-width: 800px) {
    .video-message{
        max-width: 20rem;
        width: 100%;
    }


}