.video-message{
    width: 100%;
    height: 100%;
    color: var(--border);
}

video {
    border: 1px solid var(--border);
}

@media screen and (max-width: 800px) {
    .video-message{
        width: 100%;
    }
}