.logo-container {
  justify-content: flex-start;
}

.logo-img {
  width: 4rem;
}

.logo-name {
  font-family: "Borel", cursive;

  flex-direction: row;
  row-gap: 0.5rem;

  position: relative;
  bottom: -0.5rem;
}

@media screen and (max-width: 800px) {
  .logo-img {
    width: 4rem;
  }

  .logo-name {
    font-size: 1.25rem;
  }
}
