.send-img img{
    height: 100%;
    width: 100%;

    object-fit: cover;
    border: 1px solid var(--border);

    position: relative;
}

.send-img .image-bottom{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-bottom svg{
    color: white;
    font-size: 1.5rem;
}

.send-img .image-fullscreen{
    position: absolute;

    font-size: 15rem;
    color: white;
    z-index: 1000;
}

.send-img .msg-time{
    align-self: center;
}