.send-img img{
    height: 100%;
    width: 100%;

    min-height: 15rem;

    object-fit: cover;
    border: 1px solid var(--border);

}
.send-img{
    position: relative;
}

.send-img .image-fullscreen{
    position: absolute;
    top: 1rem;
    right: 1rem;

    font-size: 1.5rem;
    color: white;

    width: 2.5rem;
    height: 2.5rem;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 1px solid black;
}

.image-fullscreen svg{
    color: black;
}

.image-fullscreen{
    position: absolute;
    top: 0;
    bottom: 0;
}