/* edit inbuild html tags style */
h1 {
  font-size: clamp(2rem, 3vw + 0.5rem, 3.5rem);
  font-weight: 1000;
}

h2 {
  font-size: clamp(1.1rem, 3vw + 0.5rem, 2rem);
  font-weight: 700;
}

h3 {
  font-size: clamp(0.9rem, 2vw + 0.5rem, 1.5rem);
  font-weight: 700;
}

h4 {
  font-size: clamp(0.8rem, 2vw + 0.5rem, 1.25rem);
  font-weight: 600;
}

h5 {
  font-size: clamp(0.5rem, 2vw + 0.5rem, 1.1rem);
  font-weight: 450;
}

h6 {
  font-size: clamp(0.5rem, 2vw + 0.5rem, 0.7rem);
  font-weight: 400;
}

p {
  margin: 0;
  font-size: clamp(0.85rem, 2vw + 0.5rem, 0.85rem);
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  color: var(--text);
}

h5,
h6 {
  color: var(--text-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  width: fit-content;
}

p {
  color: var(--text-extra-light);
  margin: 0;
}

a {
  color: var(--link);
  text-decoration: none !important;
}

a:hover {
  color: var(--link-hover);
  text-decoration: none !important;
}

/* custom css classes */
.shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.rounded-corner {
    border-radius: 0.25rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
}

.full-screen {
  width: 100%;
  height: 100%;
}

.highlight:hover {
  color: var(--text);
}

.cursor-btn {
  cursor: pointer;
}

.color-text {
  color: var(--text);
}

.color-text-light {
  color: var(--text-light);
}

.color-text-extra-light {
  color: var(--text-extra-light);
}

::-webkit-scrollbar {
  width: 0.35rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: grey;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text);
}

.hoverState:hover :is(h1, h2, h3, h4, h5, h6, p, svg, input) {
  color: var(--text);
}

.hoverState:hover{
  border: 1px solid var(--text);
}

svg {
  color: var(--text-extra-light);
  cursor: pointer;
}

svg:hover,
svg:active,
svg:focus {
  color: var(--text)
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}