@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");

:root {
  /*--background: #222831;*/
  /*--container: rgba(57, 62, 70, 0.7);*/
  --background: #151617;
  --container: rgba(40, 40, 42);

  --white: #ffff;
  --input: #ffff;
  --primary: #ea5455;

  --text: #ffffff;
  --text-light: #aba5a5;
  --text-extra-light: #636262;
  --text-secondary: #dadada;
  --text-primary: var(--primary);

  --border: var(--text-extra-light);  
  --error: #eb5757;
  --success: #2bd994;

  --link: #6598ea;
  --link-hover: #85b3fe;
}

.App {
  height: 100vh;
  background-color: var(--background);
}

p {
  margin: 0;
}

.chat-page {
  padding: 0;
}

.border {
  border-radius: 0.25rem;
  border: 1px solid var(--border);
}

.box-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

input{
  width: 100%;
  border: none;
  outline: none;
  font-weight: 550;
  padding: 0 0 0 0.75rem;
  border-radius: 0.25rem;
  padding: 0 0.5rem 0 0 !important;
}

.image-edit-container {
  position: relative;
}

.image-edit-container .edit-btn {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;

  border: 1px solid var(--text);

  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .authentication-page,
  .chat-page {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    border: none;
  }
}