@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");

:root {
  --background: #151617;
  --model-container: rgb(21, 22, 23, 0.9);
  --container: rgba(40, 40, 42);

  --white: #ffff;
  --input: #ffff;
  --primary: #ea5455;

  --text: #ffffff;
  --text-light: #aba5a5;
  --text-secondary: #dadada;
  --text-extra-light: #636262;
  --text-primary: var(--primary);

  --border: var(--text-extra-light);
  --error: var(--primary);
  --success: rgb(25, 129, 87, 0.5);

  --link: #6598ea;
  --link-hover: #85b3fe;

  --toastify-color-dark: var(--background) !important;
  --toastify-color-success: var(--success) !important;
  --toastify-color-error: var(--primary) !important;
  --toastify-toast-bd-radius: 0 !important;
}

.Toastify__toast {
  border-radius: 0rem;
  border: 1px solid var(--border);
}

.App {
  height: 100vh;
  background-color: var(--background);
}

p {
  margin: 0;
}

.chat-page {
  padding: 0;
}

.border {
  border-radius: 0.25rem;
  border: 1px solid var(--border);
}

.box-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 600px) {
  .authentication-page,
  .chat-page {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    border: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .authentication-page,
  .chat-page {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    border: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .authentication-page,
  .chat-page {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    border: none;
  }
}
