.chat-box__top{
    position:  relative;
    padding: 0.35rem 1.5rem;
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    align-items: center;
}

.chat-box__top .chat-box__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chat-box__top .burger-menu__icon{
    display: none;
}

@media screen and (max-width: 800px) {
    .chat-box__top{
        padding: 0.35rem 0.5rem;
        column-gap: 0.5rem;
    }

    .chat-box__top .burger-menu__icon{
        display: block;
    }
}