.chat-box-top{
    position:  relative;
    padding: 0.35rem 1.5rem;
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    align-items: center;
}

.chat-box-top .burger-menu-icon{
    cursor: pointer;
    display: none;
}

.chat-box-top .chat-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-weight: 500;
}

.chat-description .chat-name{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 600;
}

.chat-description .chat-created{
    font-size: 0.9rem;
    color: var(--text);
}


@media screen and (max-width: 800px) {
    .chat-description .chat-name{
        font-size: 1.25rem;
    }

    .chat-description .chat-created{
        font-size: 0.75rem;
        color: var(--text);
    }

    .chat-box-top{
        padding: 0.35rem 0.5rem;
        column-gap: 0.5rem;
    }


    .chat-box-top .burger-menu-icon{
        display: block;
    }
}