.group-private-list{
    height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    overflow-x: hidden;
}


.group-private-list__item{
    display: flex;
    column-gap: 1rem;
    padding: 1rem 0.85rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.group-private-list__item-right .group-name{
    font-size: 1rem;
    font-weight: 600;
    color: var(--text);
}

.group-private-list__item .group-private-list__item-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 0.6rem;
}

.group-private-list__item-right .group-created{
    font-size: 0.8rem;
    align-self: flex-end;
    font-weight: 500;
    color: var(--text);
}

.group-selected{
    background-color: var(--background);
    border: 1px solid white;
}

.group-selected h5,
.group-selected .group-created{
    color: var(--text);
}

.group-selected svg,
.group-selected p{
    color: var(--text-light);
}